<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
  <% include ../partials/nav %>
</header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to our Reviews page</h1>
      <h3>Post your reviews of your favorite chefs or recipes here</h3>

  </main>
  <!-- <ul>
    <% comments.reverse().forEach(function(comment) { %>
      <li><p class ="comment"><%= comment.user ? comment.user.local.email : 'NA' %> - :<%= comment.text %></p>
      </li>
    <% }); %>
  </ul> -->
  <div>
  <h3>comments:</h3>
  <% comments.reverse().forEach(function(comment) { %>
    <h4>
      <form method="POST" action="/comments/<%= comment._id %>?_method=DELETE">
        <a href="/comments/<%= comment._id %>">
      <%= comment.user.local.email %>:    <%= comment.text %>
        </a>
      
        <button type="submit" class="btn btn-xs btn-danger">Delete</button>
      </form>
    </h4>
  <% }) %>
</div>




 </body>
</html>
